@font-face {
    font-family: Poppins;
    src: url(./fonts/Poppins-Regular.ttf)
}

body {
    width: 100%;
    margin: 0 auto;
    background-color: whitesmoke;
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    color: #222;
}

p {
    margin: 0;
    font-size: 1rem;
}

button {
    font-family: Arial, Helvetica, sans-serif;
}

#root {
    display: grid;
    grid-template-columns: 50%;
    justify-content: center;
}

div > h1 {
    text-align: center;
}

form {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
}

form > input {
    width: 520px;
    height: 40px;
    padding: 0 12px;
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .25);
    border-radius: 4px;
}

form > input:focus, button:focus {
    border: 1px solid rgb(11, 170, 233);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .15);
}

form > button {
    height: 40px;
    width: 60px;

    background-color: blueviolet;
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form > button:hover {
    background-color: rgb(91, 17, 160);
    transition: 200ms;
}

.todo-container {
    padding: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.todo-container .clear {
    padding: 30px 0 0 0;
    text-align: center;
}

.clear button {
    height: 30px !important;
    width: 60px !important;
    text-align: center !important;
    background-color: rgb(226, 43, 43) !important;
}

@media (max-width: 768px) {
    #root {
        grid-template-columns: 90%;
    }
}